https://salejandro.me {
    root /var/www/html

    errors {
        404 /home/sebastian/404.html
    }
}

https://i.salejandro.me {
    root /var/www/i
    
    mime {
    	.png image/png
	.jpg image/jpg
    }

    errors {
        404 /home/sebastian/404.html
    }
}

https://f.salejandro.me {
    root /var/www/f

    errors {
        404 /home/sebastian/404.html
    }
}
